body {
    height: 100%;
    font-family: "Lato", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #102746;
}
.wrapper {
    overflow: hidden;
    min-height: 100%;
}
.page {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
}
.main-screen {
    flex: 1 0 100%;
    position: relative;
}
.main-screen__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.ibg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.ibg img{
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}
.content {
}
.container {
    max-width: 1090px;
    margin: 0 auto;
    padding: 0 15px;
}
.header{
    position: absolute;
    left: 0;
    top: 35px;
    width: 100%;
    z-index: 5;
}
.header__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 176px;
}
.menu__list {
    display: flex;
}
.menu__link {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
}
.menu__link {
    margin-left: 82px;
}
.header__title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 22px;
    color: #fff;
}
.header__text {
    max-width: 546px;
    color: #fff;
    margin-bottom: 60px;
}
.header__link-do {
    padding: 0px 43px 22px 43px;
    margin-right: 61px;
    color: #fff;
    position: relative;
}
.header__link-do::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 3px solid #fff;
    border-radius: 50%;
    top: 0;
    left: 0;
    background-color: transparent;
}
.header__link-do::after {
    content: "";
    position: absolute;
    width: 281px;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #fff;
}
.header__btn {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #fff;
    padding: 15px 39px;
    background-color: #1b7dff;
}
.benefits {
    margin: 0 auto;
    max-width: 1262px;
    max-height: 655px;
    transform: translateY(-255px);
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(21, 24, 36, 0.15993);
}
.benefits__title {
    padding:93px 0px 120px 0px;
}
.title {
    font-size: 35px;
    line-height: 42px;
}
.benefits__row{
    display: flex;
    margin: 0 -28px;
}
.benefits__column {
    flex 0 1 33.333%;
    padding: 0 28px;
}
.item__benefits-img {
    margin-bottom: 37px;
}
 
.item__benefits-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 26px;
}
.item__benefits-text {
    margin-bottom: 39px;
}
.item__benefits-link--1 {
    display: inline-block;
    color: #006DFE;
    margin-bottom: 112px;
    padding-right: 60px;
    position: relative;
}
.item__benefits-link--1::after{
    content: '';
    position: absolute;
    background-image: url('../images/Shape.svg');
    background-repeat: no-repeat;
    top:35%;
    right: 0;
    width: 33px;
    height: 8px;
}
.get {
    padding-bottom: 130px;
}
.container__get{
    max-width: 1290px;
    padding: 0 15px;
    margin: 0 auto;
}
.get__top{
    display: flex;
    justify-content: space-between;
}
.get__all{
    display: block;
    height: 24px;
    position: relative;
    color: #006DFE;
    padding-right: 60px;
}
.get__subtitle {
    padding-bottom: 7px;
    margin-bottom: 39px;
    position: relative;
}
.get__subtitle::after{
    content: '';
    position: absolute;
    width: 253px;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #006DFE;
}
.get__row-1 {
    display: flex;
}
.get__column-1 {
    flex: 0 1 50%;
    margin:0px 10px 10px 0px;
}
.get__column-1:last-child{
    margin: 0;
}
.get__item {
    display: inline-block;
    position: relative;
}
.get__item img{
    display: inline-block;
    max-width: 620px;
    height: 110%;
    object-fit: cover;
}
.title-w {
    position: absolute;
    bottom: 30px;
    left: 40px;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
    color: #fff;
    z-index: 3;
}
.get__row-2 {
    display: flex;
}
.get__column-2 {
    flex: 0 1 33.333%;
    margin-right: 10px;
}
.get__column-2:last-child{
    margin: 0;
}
.get__item-2{
    display: inline-block;
    position: relative;
}
.get__item-2 img{
    display: inline-block;
    max-width: 410px;
    object-fit: cover;
}
.tottori {
}
.tottori__column {
    display: flex;
    margin-bottom: 77px;
}
.tottori__image {
    flex:0 0 47%;
    position: relative;   
}
.tottori__image img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.tottori__body {
    flex: 1 1 auto;
    margin:0px 55px 77px 55px;
}
.tottori__title {
}
.title1 {
    font-weight: 500;
    font-size: 30px;
    line-height: 40px;
    color: #102746;
}
.tottori__text {
    margin:85px 0px 58px 0px;
}
.tottori__column-r{
    display: flex;
    flex-direction: row-reverse;
}




.tottori__column2 {
    display: flex;
}
.tottori__item2 {
}
.tottori__image2 {
    flex: 0 0 45%;
    position: relative;
    overflow: hidden;
}
.tottori__image2 img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.tottori__body2 {
    flex: 1 1 auto ;
}