@import "nullstyle.scss";

body {
    font-family: "Roboto Condensed", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    font-size: 400;
}
//font-family: "PT Serif", serif;
.header {
    text-align: center;
}
.header-logo {
    padding: 88px 0px 60px 0px;
}
.logo {
}
.header__img {
}
.menu {
    border-top: 2px solid #c4c4c4;
}
.menu-list {
    display: flex;
    justify-content: center;
}
.menu__list-item {
    cursor: pointer;
    width: 300px;
    & :first-child {
        border-left: 1px solid #c4c4c4;
    }
    & :last-child {
        border-right: 1px solid #c4c4c4;
    }
}

.menu__list-link {
    font-size: 24px;
    line-height: 28px;
    color: #888;
    display: block;
    padding: 34px 10px 38px 10px;
    border-left: 1px solid #c4c4c4;
    border-right: 1px solid #c4c4c4;
}
.menu__list-item--active,
.menu__list-link:hover {
    background-color: #000;
    color: #fff;
}

.slider__item {
    min-height: 600px;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

.slick-arrow {
    border: none;
    outline: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    z-index: 5;
    cursor: pointer;
    transform: translateY(-50%);
}
.slick-next {
    right: 20px;
}
.slick-prev {
    left: 20px;
}

.search {
}
.search__form {
    padding: 60px 0px 70px;
    text-align: center;
}
.search__label {
    font-size: 24px;
    color: #888888;
    margin: 0px 70px 0px 0px;
}
.search__input {
    width: 430px;
    border: 1px solid #c4c4c4;
    padding: 23px 0px 23px 15px;
    &::placeholder {
        font-size: 18px;
        line-height: 24px;
        color: #888888;
    }
}
.search__button-btn {
    border: none;
    background: #c4c4c4;
    font-size: 18px;
    line-height: 24px;
    color: #fff;
    padding: 21px 23px 21px 36px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background-image: url("/images/search.svg");
        width: 18px;
        height: 18px;
        left: 9px;
        top: 24px;
    }
}

.popular {
    text-align: center;
}

.popular__title {
    font-family: PT Serif;
    background-color: #000;
    color: #fff;
    font-size: 48px;
    line-height: 64px;
    padding: 18px 0px;
    text-align: center;
    margin-bottom: 118px;
}
.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0px 10px;
}
.popular__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}
.popular__item {
    flex: 0 1 25%;
}
.popular__img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
}
.popular__item-title {
    font-size: 24px;
    text-align: center;
    color: #888888;
    padding: 26px 0px 34px 0px;
}
.popular__link {
    background: #c4c4c4;
    border: 2px solid #c4c4c4;
    padding: 13px 48px;
    color: #fff;
}
.reason {
    padding: 100px 10px;
}
.reason__inner {
    display: flex;
    justify-content: space-around;
}
.reason__item {
    width: 470px;
}
.reason__title {
    font-family: "PT Serif", serif;
    font-size: 36px;
    line-height: 36px;
    padding-left: 136px;
    margin-bottom: 20px;
    position: relative;
}
.reason__title--icon1::before {
    content: "";
    position: absolute;
    background-image: url("/images/time.svg");
    width: 103px;
    height: 103px;
    left: 0;
    top: 3px;
}
.reason__title--icon2::before {
    content: "";
    position: absolute;
    background-image: url("/images/world.svg");
    width: 103px;
    height: 103px;
    left: 0;
    top: 3px;
}

.reason__text {
    margin-bottom: 45px;
}
.reason__link {
    text-decoration: underline;
    color: #888;
    padding-left: 36px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background-image: url("/images/arrow.svg");
        width: 30px;
        height: 30px;
        left: 0;
        top: -3px;
    }
}
.best {
    text-align: right;
}
.best__img {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
}
.best__title {
    font-family: PT Serif;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 31px;
    padding-top: 68px;
    color: #fff;
}
.best__link {
    line-height: 18px;
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 16px 18px;
}

.about {
    color: #fff;
    background-color: #000;
    padding: 100px 10px;
}
.about__inner {
    display: flex;
    justify-content: space-between;
}
.about__item {
}
.about__title {
    font-family: PT Serif;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 48px;
    text-align: center;
}
.title__about {
    text-align: center;
    font-family: PT Serif;
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 27px;
}
.about__our-manager {
    display: flex;
    justify-content: space-between;
}
.about__img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 22px;
}
.about__list {
    line-height: 21px;
    margin-bottom: 43px;
    text-align: center;
}
.about__btn {
    line-height: 18px;
    padding: 16px 21px;
}
.about__list-item {
    margin-bottom: 20px;
}
.about__list-link {
    color: #fff;
    padding-left: 67px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background-image: url("/images/areow-w.svg");
        width: 30px;
        height: 30px;
        top: -4px;
        left: 0;
    }
}
.about__img-review {
    width: 300px;
    height: 127px;
    object-fit: cover;
}
.about__text {
    width: 300px;
    margin: 22px 0px;
}
.about__link {
    display: inline-block;
    color: #fff;
    padding: 16px 28px;
    background-color: #fff;
    color: #000;
}

.footer {
    padding: 100px 10px;
    background-color: #000;   
    color: #fff;
}
.footer__inner {
    display: flex;
    align-items: center;
    
}
.menu {border: none;
}
.footer__menu {
   width:250;
   margin-right: 150px;
}
.footer__menu-list {
    margin-bottom: 15px;
}
.footer__menu-link {
    font-size: 24px;
    line-height: 36px;
    color: #fff;
}
.footer__form {
    display: flex;
}
.footer__label {
    display: inline-block;
    line-height: 18px;
    color: #888;
    padding-top: 15px;
    margin-right: 10px;
}
.footer__input{
    display: inline-block;
    width: 511px;
    height: 70px;
    padding: 0px 15px;
    font-family: Roboto Condensed;
    font-size: 18px;
    line-height: 24px;
    color: #888888;
    
}
.footer__input::placeholder {
    font-family: Roboto Condensed;
    font-size: 18px;
    line-height: 24px;
    color: #888888;
}
.footer__btn {
    line-height: 18px;
    padding: 27px 33px 25px 36px;
    background: #C4C4C4;
    color: #fff;
}
